* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.box00 {
    width: 600px;
    height: 1060px;
    /*background-color: pink;*/
    margin: 200px auto;
    background-image: url(imgs/background.png);
}
.header {
    display: flex;
    height: 112px;
    /*background-color: pink;*/
}
.iconfont {
    font-size: 60px !important;
    /* width: 60px;
    height: 60px; */
    /*border: red 1px solid;*/
    margin: 40px auto;
}
.header_left {
    width: 90px;
    height: 112px;
    /* line-height: 112px; */
    text-align: center;
    /*border: red 1px solid;*/
    /*background-color: aqua;*/
}
.header_right {
    width: 90px;
    height: 112px;
    /*line-height: 112px;*/
    text-align: center;
   /* background-color: aqua;*/
}
.header_center {
    flex: 1;
    line-height: 112px;
    font-size: 32px;
    color: #cfe8eb;
    text-align: center;
}
.photo {
    height: 215px;
    text-align: center;
    padding-top: 58px;
    /*background-color: deeppink;*/
}
.fields {
    height: 309px;
    padding-left: 83px;
   /* background-color: burlywood;*/
}
.first_name {
    height: 85px;
    width: 440px;
   /* background-color: #fff;*/
    border-bottom: 1px solid #828ebc;
    color: #fbfbfd;
    font-size: 26px;
    line-height: 85px;
}
.last_name {
    height: 85px;
    width: 440px;
   /* background-color: plum;*/
    border-bottom: 1px solid #828ebc;
    color: #fbfbfd;
    font-size: 26px;
    line-height: 85px;
}
.email {
    height: 85px;
    width: 440px;
   /* background-color: #fff;*/
    border-bottom: 1px solid #828ebc;
    color: #fbfbfd;
    font-size: 26px;
    line-height: 85px;
}
.anotherwords {
    position: relative;
    height: 54px;
    width: 440px;
   /* background-color: #fff;*/
    color: #fbfbfd;
}
.password {
    position: absolute;
    width: 220px;
    padding-top: 25px;
    font-size: 26px;
    /*background-color: pink;*/
}
.show {
    position: absolute;
    right: 0px;
    top: 25px;
    display: block;
    width: 220px;
    /*background-color: #fff;*/
    font-size: 23px;
    text-align: right;
}
.show a{
    text-decoration: none;
    color: #41ebb2;
}
.button {
    position: relative;;
    height: 185px;
    /*background-color: grey;*/
}
.button_box {
    position: absolute;
    bottom: 22px;
    left: 80px;
    width: 440px;
    height: 75px;
    background-color: white;
    border-radius: 33px;
    text-align: center;
    line-height: 75px;
    font-size: 33px;
    color: #706d9f;
    text-decoration: none;
}
.buttom {
    height: 239px;
   /* background-color: red;*/
   font-size: 23px;
   color: #fbfbfd;
   text-align: center;
}
.buttom a{
    text-decoration: none;
    color: #41ebb2;
}